.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/modules/sandbox.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules/sandbox.test.iml
.idea/modules/sandbox.main.iml
.idea/modules/sandbox.iml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/sandbox.iml
.idea/vcs.xml
.idea/misc.xml
.idea/uiDesigner.xml
*.class
*.log
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_7.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
*.iml
.idea/modules/addressbook_web_tests.iml
.idea/libraries/Gradle__ru_yandex_qatools_properties_properties_loader_1_5.xml
.idea/libraries/Gradle__ru_yandex_qatools_allure_allure_testng_adaptor_1_4_0_RC4.xml
.idea/libraries/Gradle__ru_yandex_qatools_allure_allure_model_1_4_0_RC4.xml
.idea/libraries/Gradle__ru_yandex_qatools_allure_allure_java_commons_1_4_0_RC4.xml
.idea/libraries/Gradle__ru_yandex_qatools_allure_allure_java_aspects_1_4_0_RC4.xml
.idea/libraries/Gradle__ru_yandex_qatools_allure_allure_java_annotations_1_4_0_RC4.xml
.idea/libraries/Gradle__org_slf4j_slf4j_simple_1_7_7.xml
.idea/libraries/Gradle__org_jvnet_jaxb2_commons_jaxb2_basics_runtime_0_6_5.xml
.idea/libraries/Gradle__org_aspectj_aspectjrt_1_7_4.xml
.idea/libraries/Gradle__org_apache_tika_tika_core_1_5.xml
.idea/libraries/Gradle__log4j_log4j_1_2_17.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Gradle__commons_beanutils_commons_beanutils_core_1_8_3.xml
.idea/libraries/Gradle__com_sun_xml_bind_jaxb_impl_2_2_7.xml
.idea/libraries/Gradle__com_sun_xml_bind_jaxb_core_2_2_7.xml
